<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="head :: head"></head>
	<!--
	<body>
		<div th:replace="menu :: menu"></div>
		<header class="masthead bg-primary text-white text-center header-gerador">
			<div class="container d-flex align-items-center flex-column">
                <!-- Masthead Heading--
                <h1 class="text-uppercase mb-0 h1-cadastro">Cadastrar TAG</h1>
                <div class="cadastro" th:switch="${tag.id>0}">
      				<p class="masthead-subheading font-weight-light mb-0" th:case="${true}">Atualização de Tag</p>
      				<p class="masthead-subheading font-weight-light mb-0" th:case="*">Cadastro de Tag</p>
      			</div>
      			
      			<form th:object="${tag}" action="/tags/save" method="POST">
      				<input type="hidden" th:field="${tag.id}" th:if="${tag.id}">
      				<form>
      				
                    
                    <div class="form-floating mb-3">
                    	<input class="form-control" id="nome" th:field="*{nome}" type="text" placeholder="Nome da Tag" th:errorclass="inputError" autocomplete="off"/>
      					<label for="tituloProva">Nome Tag</label>
                    	<span class="error" th:if="${#fields.hasErrors('nome')}" th:errors="*{tituloProva}">Preenchimento Obrigatório</span>
                    </div>
                    
                    <div class="mb-3">
          				<p th:switch="${tag.id>0}">
            			<button class="btn btn-primary btn-sm" type="submit" th:case="${true}" th:text="Atualizar"></button>
            			<button class="btn btn-primary btn-sm" type="submit" th:case="*" th:text="Adicionar"></button>
          				</p>
        			</div>
      			</form>
                
            </div>
        </header>
	</body>-->
</html>