<!--UNICAAAAAAAAAAAA -->
					
					<div style="display: none;" id="B"><br/>CADASTRO QUESTAO UNICA
					
					<form th:object="${questao}" action="/questoes/saveUnica" method="POST">
      				<input type="hidden" th:field="${questao.idQuestao}" th:if="${questao.idQuestao}">
      				<form>
      				
      				<br>
      				<div class="col-8">
            			<label class="form-label" for="indiceDificuldade">Índice de Dificuldade</label>
	    				<select name='indiceDificuldade' class="form-control">
	    				<option th:each="difOpt: ${T(br.com.gerador.model.indiceDificuldade).values()}"
	    					th:value="${difOpt}" th:text="${difOpt}"/></option>
	    				</select>
          			</div>     	
          			
          			<br>
          			<div class="col-8">
            			<label class="form-label" for="Tag">Tag</label>
	    				<select name='Tag' class="form-control">
	    				<option th:each="tipoTag: ${T(br.com.gerador.model.Tag).values()}"
	    					th:value="${tipoTag}" th:text="${tipoTag}"/>
	    				</select>
          			</div><br>
                    
					<!-- ENUNCIADO -->  
  
                    <div class="form-floating mb-3">
                    	<input class="form-control" id="descricao" th:field="*{descricao}" type="text" placeholder="Enunciado da Questão" th:errorclass="inputError" autocomplete="off"/>
      					<label for="descricao">Enunciado da Questão</label>
                    	<span class="error" th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}">Preenchimento Obrigatório</span>
                    </div><br>
                    
                    <!-- ALTERNATIVAS -->
                    
                    
                    <div class="form-floating mb-3">
                    	<input class="form-control" id="alternativa1" th:field="*{respostaUnica.alternativa1}" type="text" placeholder="Primeira Alternativa" th:errorclass="inputError" autocomplete="off"/>
      					<label for="primeiraAlternativa">Primeira Alternativa</label>
                    	<span class="error" th:if="${#fields.hasErrors('respostaUnica.alternativa1')}" th:errors="*{respostaUnica.alternativa1}">Preenchimento Obrigatório</span>
                    	
                    		<!--<input type="radio"  th:value="true" name="quest1" checked>Verdadeira  
							<input type="radio"  th:value="false" name="quest1">Falsa -->
                    	                	
                    </div>
                     
                     <div class="form-floating mb-3">
                    	<input class="form-control" id="alternativa2" th:field="*{respostaUnica.alternativa2}" type="text" placeholder="Segunda Alternativa" th:errorclass="inputError" autocomplete="off"/>
      					<label for="segundaAlternativa">Segunda Alternativa</label>
                    	<span class="error" th:if="${#fields.hasErrors('respostaUnica.alternativa2')}" th:errors="*{respostaUnica.alternativa2}">Preenchimento Obrigatório</span>
                    	
                    		<!--<input type="radio"  th:value="true" name="quest1" checked>Verdadeira  
							<input type="radio"  th:value="false" name="quest1">Falsa -->
                    	                	
                    </div>
                    
                     <div class="form-floating mb-3">
                    	<input class="form-control" id="alternativa3" th:field="*{respostaUnica.alternativa3}" type="text" placeholder="Terceira Alternativa" th:errorclass="inputError" autocomplete="off"/>
      					<label for="terceiraAlternativa">Terceira Alternativa</label>
                    	<span class="error" th:if="${#fields.hasErrors('respostaUnica.alternativa3')}" th:errors="*{respostaUnica.alternativa3}">Preenchimento Obrigatório</span>
                    	
                    		<!--<input type="radio"  th:value="true" name="quest1" checked>Verdadeira  
							<input type="radio"  th:value="false" name="quest1">Falsa -->
                    	                	
                    </div>
                    
                     <div class="form-floating mb-3">
                    	<input class="form-control" id="alternativa4" th:field="*{respostaUnica.alternativa4}" type="text" placeholder="Quarta Alternativa" th:errorclass="inputError" autocomplete="off"/>
      					<label for="quartalternativa">Quarta Alternativa</label>
                    	<span class="error" th:if="${#fields.hasErrors('respostaUnica.alternativa4')}" th:errors="*{respostaUnica.alternativa4}">Preenchimento Obrigatório</span>
                    	
                    		<!--<input type="radio"  th:value="true" name="quest1" checked>Verdadeira  
							<input type="radio"  th:value="false" name="quest1">Falsa -->
                    	                	
                    </div>
                    
                     <div class="form-floating mb-3">
                    	<input class="form-control" id="alternativa5" th:field="*{respostaUnica.alternativa5}" type="text" placeholder="Quinta Alternativa" th:errorclass="inputError" autocomplete="off"/>
      					<label for="quintaAlternativa">Quinta Alternativa</label>
                    	<span class="error" th:if="${#fields.hasErrors('respostaUnica.alternativa5')}" th:errors="*{respostaUnica.alternativa5}">Preenchimento Obrigatório</span>
                    	
                    		<!--<input type="radio"  th:value="true" name="quest1" checked>Verdadeira  
							<input type="radio"  th:value="false" name="quest1">Falsa -->
                    	                	
                    </div>                             
                    
                    <div class="col-8">
            			<label class="form-label" for="questaoCorreta">Questão Verdadeira</label>
	    				<select name='questaoCorreta' class="form-control">
	    				<option th:each="difOpt: ${T(br.com.gerador.model.questaoCorreta).values()}"
	    					th:value="${difOpt}" th:text="${difOpt}"/></option>
	    				</select>
          			</div>  
                    
            			<button class="btn btn-primary btn-sm" type="submit" th:text="Adicionar"></button>
          			
        			
      			</form>
      		</div>