<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="head :: head"></head>
	
	<body>
		<div th:replace="menu :: menu"></div>
		
		<header class="masthead bg-primary text-white text-center header-gerador">
			<div class="container d-flex align-items-center flex-column">
				<a class="btn btn-primary btn-sm" th:href="@{/questoes/new}">Nova Questão</a>
                <!-- Masthead Heading-->
                <h1 class="text-uppercase mb-0 h1-gerador">Questões Geradas</h1>
                <table class="table table-striped table-bordered table-hover">
                	<thead>
        				<tr>
          					<th>ID</th>
          					<th>Tipo da Questão</th>
          					<th>Índice de Dificuldade</th>
          					<th>TAG</th>
          					<th>Menu</th>
        				</tr>
      				</thead>
      				<tbody>
        				<tr th:each="questao: ${questaoList}">
          					<td th:text="${questao.idQuestao}"/>
          					<td th:text="${questao.tipoQuestao}"/>
          					<td th:text="${questao.indiceDificuldade}"/>
          					<td th:text="${questao.tag}"/>
          					<td><a class="align-self-start" th:href="@{/questoes/delete/{idQuestao}(idQuestao=${questao.idQuestao})}">
           						 <i class="bi bi-dash-circle" title="Excluir"></i>
          					</a>
          					<a class="align-self-end" th:href="@{/questoes/edit/{idQuestao}(idQuestao=${questao.idQuestao})}">
           						 <i class="bi bi-eye" title="Editar"></i>
          					</a></td>
        				</tr>
      				</tbody>
                </table>
            </div>
        </header>
	</body>
</html>