<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="head :: head">
	
	
	
	</head>
	
	
	<body>
		<div th:replace="menu :: menu"></div>
		<header class="masthead bg-primary text-white text-center header-gerador">
			<div class="container d-flex align-items-center flex-column">
                <!-- Masthead Heading-->
                <h1 class="text-uppercase mb-0 h1-cadastro">Cadastrar Questão</h1>
                
                <br>
                <h5>Tipo Questao</h5>
                
                <script>
	
    function mostrarAberta()
	{
    		document.getElementById("B").style.visibility="hidden";
    		document.getElementById("C").style.visibility="hidden";
    		document.getElementById("A").style.visibility="visible";

	} 
        
    function mostrarUnica()
		{
		    document.getElementById("A").style.visibility="hidden";
		    document.getElementById("C").style.visibility="hidden";
    		document.getElementById("B").style.visibility="visible";    
		}

	
	
	function mostrarMultipla()
	{
    		document.getElementById("B").style.visibility="hidden";
    		document.getElementById("A").style.visibility="hidden";
    		document.getElementById("C").style.visibility="visible";
	}            
           
	</script>
                
  				<input type="radio"  name="aorb" onClick="mostrarAberta()" checked>Aberta  
				<input type="radio"  name="aorb" onClick="mostrarUnica()">Unica 
				<input type="radio" name="aorb" onCLick="mostrarMultipla()">Multipla	
					
					<!-- ABERTAAAAAAAA -->
					
					<div style="" id="A"><br/>CADASTRO QUESTÃO ABERTA
					
					<form th:object="${questao}" action="/questoes/saveAberta" method="POST">
      				<input type="hidden" th:field="${questao.idQuestao}" th:if="${questao.idQuestao}">
      				
      				<br>
      				<div class="col-8">
            			<label class="form-label" for="indiceDificuldade">Índice de Dificuldade</label>
	    				<select name='indiceDificuldade' class="form-control">
	    				<option th:each="difOpt: ${T(br.com.gerador.model.indiceDificuldade).values()}"
	    					th:value="${difOpt}" th:text="${difOpt}"/></option>
	    				</select>
          			</div>
          			
          			<br>
          			<div class="col-8">
            			<label class="form-label" for="Tag">Tag</label>
	    				<select name='Tag' class="form-control">
	    				<option th:each="tipoTag: ${T(br.com.gerador.model.Tag).values()}"
	    					th:value="${tipoTag}" th:text="${tipoTag}"/>
	    				</select>
          			</div><br>
                    
  
                    <div class="form-floating mb-3">
                    	<input class="form-control" id="descricao" th:field="*{descricao}" type="text" placeholder="Descrição da Questão" th:errorclass="inputError" autocomplete="off"/>
      					<label for="descricao">Enunciado da Questão</label>
                    	<span class="error" th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}">Preenchimento Obrigatório</span>
                    </div>
                    
                 
            			<button class="btn btn-primary btn-sm" type="submit" th:text="Adicionar"></button>
          				
      			</form>	
      		</div>				
					
					<!--UNICAAAAAAAAAAAA -->
					
					<div style="visibility:hidden" id="B"><br/>CADASTRO QUESTAO UNICA
					
					<form th:object="${questao}" action="/questoes/saveUnica" method="POST">
      				<input type="hidden" th:field="${questao.idQuestao}" th:if="${questao.idQuestao}">
      				<form>
      				
      				<br>
      				<div class="col-8">
            			<label class="form-label" for="indiceDificuldade">Índice de Dificuldade</label>
	    				<select name='indiceDificuldade' class="form-control">
	    				<option th:each="difOpt: ${T(br.com.gerador.model.indiceDificuldade).values()}"
	    					th:value="${difOpt}" th:text="${difOpt}"/></option>
	    				</select>
          			</div>     	
          			
          			<br>
          			<div class="col-8">
            			<label class="form-label" for="Tag">Tag</label>
	    				<select name='Tag' class="form-control">
	    				<option th:each="tipoTag: ${T(br.com.gerador.model.Tag).values()}"
	    					th:value="${tipoTag}" th:text="${tipoTag}"/>
	    				</select>
          			</div><br>
                    
  
                    <div class="form-floating mb-3">
                    	<input class="form-control" id="descricao" th:field="*{descricao}" type="text" placeholder="Descrição da Questão" th:errorclass="inputError" autocomplete="off"/>
      					<label for="descricao">Enunciado da Questão</label>
                    	<span class="error" th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}">Preenchimento Obrigatório</span>
                    </div><br>
                    
                    <div class="form-floating mb-3">
                    	<input class="form-control" id="descricao" th:field="*{descricao}" type="text" placeholder="Descrição da Questão" th:errorclass="inputError" autocomplete="off"/>
      					<label for="primeiraAlternativa">Primeira Alternativa</label>
                    	<span class="error" th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}">Preenchimento Obrigatório</span>
                    	
                    		<input type="radio"  th:value="true" name="quest1" checked>Verdadeira  
							<input type="radio"  th:value="false" name="quest1">Falsa 
                    	                	
                    </div>
                    
                    <div class="form-floating mb-3">
                    	<input class="form-control" id="descricao" th:field="*{descricao}" type="text" placeholder="Descrição da Questão" th:errorclass="inputError" autocomplete="off"/>
      					<label for="segundaAlternativa">Segunda Alternativa</label>
                    	<span class="error" th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}">Preenchimento Obrigatório</span>
                    	
                    		<input type="radio"  th:value="true" name="quest2" checked>Verdadeira  
							<input type="radio"  th:value="false" name="quest2">Falsa 
                    	                	
                    </div>
                    
                    <div class="form-floating mb-3">
                    	<input class="form-control" id="descricao" th:field="*{descricao}" type="text" placeholder="Descrição da Questão" th:errorclass="inputError" autocomplete="off"/>
      					<label for="terceiraAlternativa">Terceira Alternativa</label>
                    	<span class="error" th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}">Preenchimento Obrigatório</span>
                    	
                    		<input type="radio"  th:value="true" name="quest3" checked>Verdadeira  
							<input type="radio"  th:value="false" name="quest3">Falsa 
                    	                	
                    </div>
                    
                    <div class="form-floating mb-3">
                    	<input class="form-control" id="descricao" th:field="*{descricao}" type="text" placeholder="Descrição da Questão" th:errorclass="inputError" autocomplete="off"/>
      					<label for="quartaAlternativa">Quarta Alternativa</label>
                    	<span class="error" th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}">Preenchimento Obrigatório</span>
                    	
                    		<input type="radio"  th:value="true" name="quest4" checked>Verdadeira  
							<input type="radio"  th:value="false" name="quest4">Falsa 
                    	                	
                    </div>
                    
                    <div class="form-floating mb-3">
                    	<input class="form-control" id="descricao" th:field="*{descricao}" type="text" placeholder="Descrição da Questão" th:errorclass="inputError" autocomplete="off"/>
      					<label for="quintaAlternativa">Quinta Alternativa</label>
                    	<span class="error" th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}">Preenchimento Obrigatório</span>
                    	
                    		<input type="radio"  th:value="true" name="quest5" checked>Verdadeira  
							<input type="radio"  th:value="false" name="quest5">Falsa 
                    	                	
                    </div>
                    
w
            			<button class="btn btn-primary btn-sm" type="submit" th:text="Adicionar"></button>
          			
        			
      			</form>
      		</div>
      			
      			<!-- MULTIPLAAAAA -->
					
					<div style="visibility:hidden" id="C"><br/>CADASTRO QUESTAO MULTIPLA
					
               
      			
      			<form th:object="${questao}" action="/questoes/save" method="POST">
      				<input type="hidden" th:field="${questao.idQuestao}" th:if="${questao.idQuestao}">
      				<form>
      				
      				<br>
      				<div class="col-8">
            			<label class="form-label" for="indiceDificuldade">Índice de Dificuldade</label>
	    				<select name='indiceDificuldade' class="form-control">
	    				<option th:each="difOpt: ${T(br.com.gerador.model.indiceDificuldade).values()}"
	    					th:value="${difOpt}" th:text="${difOpt}"/></option>
	    				</select>
          			</div>
          			
          			<br>                 
                    <div class="col-8">
            			<label class="form-label" for="tipoQuestao">Tipo da Questão</label>
	    				<select name='tipoQuestao' class="form-control">
	    				<option th:each="tipoOpt: ${T(br.com.gerador.model.tipoQuestao).values()}"
	    					th:value="${tipoOpt}" th:text="${tipoOpt}"/>
	    				</select>
          			</div>
          			
          			<br>
          			<div class="col-8">
            			<label class="form-label" for="Tag">Tag</label>
	    				<select name='Tag' class="form-control">
	    				<option th:each="tipoTag: ${T(br.com.gerador.model.Tag).values()}"
	    					th:value="${tipoTag}" th:text="${tipoTag}"/>
	    				</select>
          			</div><br>
                    
  
                    <div class="form-floating mb-3">
                    	<input class="form-control" id="descricao" th:field="*{descricao}" type="text" placeholder="Descrição da Questão" th:errorclass="inputError" autocomplete="off"/>
      					<label for="descricao">Descrição da Questão</label>
                    	<span class="error" th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}">Preenchimento Obrigatório</span>
                    </div>
                    
                 
            			<button class="btn btn-primary btn-sm" type="submit" th:text="Adicionar"></button>
          			
        			
      			</form>
      		</div>
                
            </div>
        </header>
	</body>
</html>

 <!-- 
	
					TESTE 2 chave estrangeira TAG
					
 					<div class="form-floating mb-3">
      					<label class="form-label" for="tipoQuestao">TAG</label>
                    	 <br><br>
                    	
                    	<select id="tag" name="tag" th:field="${questao.tag}" class="form-label">
                    		<option value="">Escolha a Tag</option>
              				<option th:each="tag : ${questoes}"
                      				th:value="${tag.id}" 
                      				th:text="${tag.nome}">				
              				</option>
            			</select>
                    	<span class="error" th:if="${#fields.hasErrors('tag')}" th:errors="*{tag}">Preenchimento Obrigatório</span>
                    </div>
                    
                    
                    
                    TESTE 1
                    
                    <div class="form-floating mb-3">
      					<label class="form-label" for="tagQuestao">TAG</label>
                    	<select id="tag" name="tag" th:field="*{tag}" class="form-label">
              				<option th:each="tagOpt : ${questao.tag}"
                      				th:value="${tagOpt.id}"
                      				th:text="${tagOpt.nome}">				
              				</option>
            			</select>
                    	<span class="error" th:if="${#fields.hasErrors('tag')}" th:errors="*{tag}">Preenchimento Obrigatório</span>
                    </div>
                    
                    -->