<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="head :: head"></head>
	
	<body>
		<div th:replace="menu :: menu"></div>
		<header class="masthead bg-primary text-white text-center header-gerador">
			<div class="container d-flex align-items-center flex-column">
                <!-- Masthead Heading-->
                <h1 class="text-uppercase mb-0 h1-cadastro">Cadastrar Questão</h1>
                <div class="cadastro" th:switch="${questao.idQuestao>0}">
      				<p class="masthead-subheading font-weight-light mb-0" th:case="${true}">Atualização de Questão</p>
      				<p class="masthead-subheading font-weight-light mb-0" th:case="*">Cadastro de Questão</p>
      			</div>
      			
      			<form th:object="${questao}" action="/questoes/save" method="POST">
      				<input type="hidden" th:field="${questao.idQuestao}" th:if="${questao.idQuestao}">
      				<form>
      				
      				<div class="col-8">
            			<label class="form-label" for="indiceDificuldade">Índice de Dificuldade</label>
	    				<select name='indiceDificuldade' class="form-control">
	    				<option th:each="cat: ${indicesDificuldade}"
	    					th:value="${cat}" 
	    					th:text="${cat}"/>
	    				</select>
          			</div>
                    
                    <div class="col-8">
            			<label class="form-label" for="tipoQuestao">Tipo da Questão</label>
	    				<select name='tipoQuestao' class="form-control">
	    				<option th:each="cat: ${tipoQuestoes}"
	    					th:value="${cat}" 
	    					th:text="${cat}"/>
	    				</select>
          			</div>
                    
                    <div class="form-floating mb-3">
      					<label for="tagQuestao">TAG</label>
                    	<select class="form-select" id="tagQuestao">
                    		<option value="Teste">Teste</option>
                    	</select>
                    	<!--<span class="error" th:if="${#fields.hasErrors('tituloProva')}" th:errors="*{tituloProva}">Preenchimento Obrigatório</span>-->
                    </div>
                    
                    <div class="form-floating mb-3">
                    	<input class="form-control" id="descricao" type="text" placeholder="Descrição da Questão" autocomplete="off"/>
      					<label for="descricao">Descrição da Questão</label>
                    	<span class="error" th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}">Preenchimento Obrigatório</span>
                    </div>
                    
                    <div class="mb-3">
          				<p th:switch="${questao.idQuestao>0}">
            			<button class="btn btn-primary btn-sm" type="submit" th:case="${true}" th:text="Atualizar"></button>
            			<button class="btn btn-primary btn-sm" type="submit" th:case="*" th:text="Adicionar"></button>
          				</p>
        			</div>
      			</form>
                
            </div>
        </header>
	</body>
</html>